[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "==2.7.3"
markdown2 = "==2.4.0"
djangorestframework = "==3.14.0"
django = "==4.2.27"
django-debug-toolbar = "==3.8.1"
mysqlclient = "==2.0.1"
flake8 = "*"
tox = "==3.3.0"
pytest-django = "==3.4.2"
pytest = "==3.8.0"
pytest-cov = "==2.6.0"
pynaco = {ref = "master", git = "https://github.com/unt-libraries/pynaco"}

[dev-packages]

[requires]
python_version = "3.13"
