#about {
	font-size:1.6em;
}

.unt {
	color:#059033;
}

#pretty {
	background-image:url(../img/tower.png);
	background-repeat: no-repeat;
	height:700px;
}

#statsTable {
	margin-top:10em;
}

#statsTable caption {
	font-size:1.5em;
	font-weight:bold;
	text-align:left;
	color:#059033;
	margin-bottom:1em;
	border-bottom: 1px solid #CCC;
	font-variant:small-caps;
}
#statsTable th {
	border-top:none; 
	padding-left: 0;
}
#statsTable td {
	border-top:none; 
	text-align: right;
}
#statsTable .last {
	font-weight: bold;
}
#statsTable .last th {
	font-weight: bold;
	color: #059033;
}

.table-hover tbody tr:hover td.data {
	font-weight:bold;
}

#results thead th {
	background-color: #DADADA;
}
#results thead th .help {
	color:#999;
	font-weight:normal;
	font-style:italic;
}
#results .buttons {
	text-align:right;
}

.pagination {
	border-top:3px double #ddd;
	margin-top:1em;
	padding-top:1.5em;
	text-align:center;
}

col.labels {
	width:15%;
}

h2.named {
	font-size:1.4em;
	color:#059033;
	padding-left:8px;
}


@media (max-width: 767px) {
	#about {
		font-size:.9em;
	}
	#pretty {
		background-image:none;
		height:auto;
	}
	#statsTable {
		margin-top:1.5em;
	}

}