{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="search" type="application/opensearchdescription+xml" title="Name App Search" href="{% url 'name_opensearch' %}">

    <style type="text/css"> body { padding-top: 60px; }</style>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{% static "name/js/ajax-form.js" %}"></script>
    <script type="text/javascript" src="{% static "name/bootstrap/js/bootstrap.min.js" %}"></script>

    {%  block head-extra %}{% endblock %}
</head>
<body>
    {# TODO: Move this into a partial #}
    <div class="navbar navbar-default navbar-fixed navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url "name_landing" %}">Name App</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "name_stats" %}">Statistics</a></li>
                            <li><a href="{% url "name_map" %}">Map</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url "name_about" %}">About</a></li>
                    <li><a href="{% url "name_feed" %}"><span class="fa fa-rss"></span></a></li>
                </ul>
                <form class="navbar-form navbar-right" id="search" action="{% url "name_search" %}">
                    <!-- show current searched type as the default selection, if it exists -->
                    <div class="form-group">
                        <select class="form-control" name="q_type" id="q_type">
                            {% for k, v in types.items %}
                                {% if q_type == v %}
                                    <option value="{{ v }}" selected>{{ v }}</option>
                                {% else %}
                                    <option value="{{ v }}">{{ v }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input class="form-control" type="text" name="q"id="names" value="{{ q }}">
                        <button class="btn btn-default" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# FIXME: This needs some work. #}
    <div id="body">
        {% block body %}
            <div class="content_title">
                {% block content_title %}{% endblock content_title %}
            </div>

            <div class="container">
                {% if maintenance_message %}
                    <div class="alert alert-danger">
                        <strong>{{ maintenance_message }}</strong>
                    </div>
                {% endif %}

                {% block content %}{% endblock content %}
            </div>
        {% endblock body %}
    </div>

</body>
</html>
