{% extends "name/name.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block title %}{{ requested_user.name }}{% endblock %}

{% block head-extra %}
    <link rel="alternate" type="application/xml" href="{% url "name_mads_serialize" requested_user %}">
    <link rel="alternate" type="application/json" href="{% url "name_json" requested_user %}">
{% endblock head-extra %}

{% block content %}

    <div {% if requested_user.has_schema_url %}itemscope itemtype="{{ requested_user.get_schema_url }}{% endif %}">
        {% if requested_user.is_building and current_location.is_current %}
            <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="{{ current_location.latitude }}" />
                <meta itemprop="longitude" content="{{ current_location.longitude }}" />
            </div>
        {% endif %}

        <h2 class="named">{{ requested_user.name }}</h2>

        {% if user.is_authenticated %}
            <div class="control-btns">
                <a class="btn btn-default" href="{% url "admin:name_name_change" requested_user.id %}">Edit</a>
            </div>
        {% endif %}
    </div>

    <table class="table table-striped">
        <colgroup><col class="labels"><col class="data"></colgroup>
        <tr>
            <th>Authorized:</th>
            <td >
                <!-- all schema "Things" have a name property -->
                <span itemprop="name">{{ requested_user.name }}</span>
            </td>
        </tr>
        <tr>
            <th>Name Type:</th>
            <td>{{ requested_user.get_name_type_label }}</td>
        </tr>

        {# Locations #}
        {% for l in locations %}
            <tr>
                <th>Location: <em><small>({% if l.is_current %}current{% else %}former{% endif %})</small></em></th>
                <td>{{ l.latitude }}, {{ l.longitude }}</td>
            </tr>
        {% endfor %}

        <tr>
            <th>URI:</th>
            <td>
                <a href='{{ request.build_absolute_uri }}'><span itemprop='url'>{{ request.build_absolute_uri }}</span></a>
            </td>
        </tr>

        {% if requested_user.disambiguation %}
            <tr>
               <th>Disambiguation:</th>
               <td>
                    {{ requested_user.disambiguation }}
                </td>
            </tr>
        {% endif %}

        {# FIXME: There is a lot of nesting here #}

        {% if requested_user.begin %}
            <tr>
                <th>{{ date_display_begin }}: </th>
                <td>
                    {% if requested_user.is_personal %}
                        <span itemprop="birthDate">{{ requested_user.begin }}</span>
                    {% elif requested_user.is_organization %}
                            <span itemprop="foundingDate">{{ requested_user.begin }}</span>
                    {% elif requested_user.is_building %}
                        <span itemprop="erectedDate">{{ requested_user.begin }}</span>
                    {% elif requested_user.is_event %}
                        <span itemprop="startDate">{{ requested_user.begin }}</span>
                    {% else %}
                        {{ requested_user.begin }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}

        {% if requested_user.end %}
            <tr>
                <th>{{ date_display_end }}: </th>
                <td>
                    {% if requested_user.is_personal %}
                        <span itemprop="deathDate">{{ requested_user.end }}</span>
                    {% else %}
                        {{ requested_user.end }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}

        <!-- BIOGRAPHY -->
        {% if requested_user.biography %}
            <tr>
                <th>
                    {% if requested_user.is_personal %}
                        Biographical Info:
                    {% else %}
                        History:
                    {% endif %}
                </th>
                <td>
                    {{ requested_user.biography|markdown }}
                </td>
            </tr>
        {% endif %}

        <!-- LINKS -->
        <tr>
            <th>Links:</th>
            <td>
                <ul class="list-unstyled">
                    {% if ordered_link_set %}
                        {% for link in ordered_link_set.all %}
                            {% if requested_user.is_active and link.visible %}
                                <li>
                                    {% if link.type.icon_path %}
                                        <img alt="icon" src="{% static link.type.icon_path %}" style="max-width: 16px">
                                    {% else %}
                                        <span class="fa fa-leaf"></span>
                                    {% endif %}

                                    {% if "http" in link|escape or ".edu" in link|escape or ".com" in link|escape %}
                                        <strong>{{ link.type }}:</strong> <a itemprop="sameAs" href="{{ link }}">{{ link }}</a>
                                    {% else %}
                                        {% if "@" in link|escape %}
                                            {{ link.type }}:
                                            <a href="{{ link }}"><span itemprop="email">{{ link }}</span></a>
                                        {% else %}
                                            <strong>{{ link.type }}:</strong> {{ link }}
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </td>
        </tr>

        <!-- VARIANTS -->
        {% if requested_user.variant_set.all %}
            <tr>
                {% if requested_user.is_organization %}
                    <th>Variant Name:</th>
                {% elif requested_user.is_building %}
                    <th>Also Known As:</th>
                {% else %}
                    <th>Publishes As:</th>
                {% endif %}

                <td>
                    <ul class="list-unstyled">
                        {% for variant in requested_user.variant_set.all %}
                            <li>
                                {% if requested_user.is_personal %}
                                    <span itemprop="additionalName">{{ variant }}</span>
                                {% else %}
                                    <span itemprop="alternateName">{{ variant }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endif %}

        <!-- NOTES -->
        {% if note_set %}
            <tr>
                <th>Notes:</th>
                <td>{{ note_set|join:"<br>" }}</td>
            </tr>
        {% endif %}
    </table>

    {# This will only display if the Name is a Building #}
    {% if current_location.is_current %}
        <a itemprop="map" href="https://maps.google.com/maps?q={{ current_location.latitude }},{{ current_location.longitude }}&hl=en&sll={{ current_location.latitude }},{{ current_location.longitude }}&sspn=0.498085,0.521851&t=m&z=17"><img alt='Building Location' src="http://maps.googleapis.com/maps/api/staticmap?center={{ current_location.latitude }},{{ current_location.longitude }}&zoom=15&size=300x300&sensor=false&markers=color:blue%7Clabel:{{requested_user}}%7C{{ current_location.latitude }},{{ current_location.longitude }}" class='img-circle img-polaroid pull-right' ></a>
    {% endif %}

    <h3>Alternate Formats</h3>
    <div>
        <a class="btn btn-default" href="{{ request.build_absolute_uri|slice:":-1" }}.mads.xml">MADS/XML</a>
        <a class="btn btn-default" href="{{ request.build_absolute_uri|slice:":-1" }}.json">JSON</a>
    </div>
{% endblock content %}
