{% extends "name/base.html" %}
{% block title %}Search{% endblock %}

{% block content %}

    {% if not entries %}
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h3>Search the Name App</h3>
                    <form class="form form-inline" action="{% url "name_search" %}">
                        <select class="form-control" name="q_type" id="large_q_type">
                            {% for k, v in types.items %}
                                {% if q_type == k %}
                                    <option value="{{ v }}" selected>{{ v }}</option>
                                {% else %}
                                    <option value="{{ v }}">{{ v }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input class="form-control" type="text" name="q" id="large_names" value="{{ q }}">
                        <button class="btn btn-default" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {# TODO: Make this better #}
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h4><em>No results</em></h4>
                </div>
            </div>
        </div>


<!-- BEGIN SEARCH RESULTS -->
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group pull-right">
                    {% if sort != 'name_a' %}
                        <a class="btn btn-default" href="?q_type={{ q_type }}&amp;q={{ q }}&amp;order=name_a&amp;page={{ entries.page }}">Names <span class="help">(Sort Dsc.)</span></a>
                    {% else %}
                        <a class="btn btn-default" href="?q_type={{ q_type }}&amp;q={{ q }}&amp;order=name_d&amp;page={{ entries.page }}">Names <span class="help">(Sort Asc.)</span></a>
                    {% endif %}

                    {% if sort != 'begin_a' %}
                        <a class="btn btn-default" href="?q_type={{ q_type }}&amp;q={{ q }}&amp;order=begin_a&amp;page={{ entries.page }}">{{ date_display_begin }}</a>
                    {% else %}
                        <a class="btn btn-default" href="?q_type={{ q_type }}&amp;q={{ q }}&amp;order=begin_d&amp;page={{ entries.page }}">{{ date_display_begin }}</i></a>
                    {% endif %}

                    {% if sort != 'end_a' %}
                        <a class="btn btn-default" href="?q_type={{ q_type }}&amp;q={{ q }}&amp;order=end_a&amp;page={{ entries.page }}">{{ date_display_end }}</a>
                    {% else %}
                        <a class="btn btn-default" href="?q_type={{ q_type }}&amp;q={{ q }}&amp;order=end_d&amp;page={{ entries.page }}">{{ date_display_end }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    </tbody>
                        {% for entry in entries.object_list %}
                            {# TODO: Make sure the merged names are not sent via search #}
                            {% if entry.is_active and entry.merged_with == None %}
                                <tr>
                                    <td>
                                        <a href='{% url "name_entry_detail" entry %}'>{{ entry.name }}</a>

                                        {# If disambiguation exists, show as small print #}
                                        {% if entry.disambiguation %}
                                            <small>({{ entry.disambiguation }})</small>
                                        {% endif %}
                                    </td>
                                    <td>{{ entry.begin }}</td>
                                    <td>{{ entry.end }}</td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            {# If user is authenticated, add edit button #}
                                            {% if user.is_authenticated %}
                                                <a class="btn btn-default btn-sm" href="{% url "admin:name_name_change" entry.id %}">Edit</a>
                                            {% endif %}

                                            <a class="btn btn-default btn-sm" href="http://digital2.library.unt.edu/search/?q=&quot;{{entry.name}}&quot;&amp;t=metadata">View Items</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if entries.paginator.num_pages > 1 %}
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    {# TODO: Move this to a partial #}
                    <ul class="pagination">
                        {% if entries.number != 1 %}
                            <li><a href="?q_type={{ q_type }}&amp;q={{ q }}&amp;order={{ sort }}&amp;page=1">first</a></li>
                        {% else %}
                            <li class="disabled"><span>first</span></li>
                        {% endif %}

                        {% if entries.has_previous %}
                            <li><a href="?q_type={{ q_type }}&amp;q={{ q }}&amp;order={{ sort }}&amp;page={{ entries.previous_page_number }}">prev</a></li>
                        {% else %}
                            <li class="disabled"><span>prev</span></li>
                        {% endif %}

                        {% for page in entries.paginator.page_range %}
                            {% if entries.number == page %}
                                <li class="disabled"><span>{{ page }}</span></li>

                            {% else %} {% if page > entries.number|add:"-6" and page < entries.number|add:"6"  %}
                                <li>
                                    <a href="?q_type={{ q_type }}&amp;q={{ q }}&amp;order={{ sort }}&amp;page={{ page }}">
                                        {{ page }}
                                    </a>
                                </li>
                            {% endif %}{% endif %}
                        {% endfor %}

                        {% if entries.has_next %}
                            <li><a href="?q_type={{ q_type }}&amp;q={{ q }}&amp;order={{ sort }}&amp;page={{ entries.next_page_number }}">next</a></li>
                        {% else %}
                            <li class="disabled"><span>next</span></li>
                        {% endif %}

                        {% if entries.number != entries.paginator.num_pages %}
                            <li><a href="?q_type={{ q_type }}&amp;q={{ q }}&amp;order={{ sort }}&amp;page={{ entries.paginator.num_pages }}">last</a></li>
                        {% else %}
                            <li class="disabled"><span>last</span></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
